<p id="notice"><%= notice %></p>
<div id="content">
  <div class="w3-display-container w3-animate-opacity">

    <div class="w3-display-middle center">
      <div class="sectionTitleAdmin">
        Rodzaje kont
      </div>

      <% if @admin_account_types.to_a.any?  %>
<table class="table responsive striped bordered hoverable">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Przestrzeń</th>
      <th>Cena</th>
      <th>Utworzono</th>
      <th>Uaktualniono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_account_types.each do |admin_account_type| %>
      <tr>
        <td><%= admin_account_type.name %></td>
        <td><%= admin_account_type.space %></td>
        <td><%= admin_account_type.price %></td>
        <td><%= admin_account_type.created_at %></td>
        <td><%= admin_account_type.updated_at %></td>

        <td><%= link_to 'Edycja', edit_admin_account_type_path(admin_account_type) %></td>
        <td><%= link_to 'Usuń', admin_account_type_path(admin_account_type), method: :delete, data: { confirm: 'Czy napewno usunąć?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
          <% end %>
    </br>
      <div>
        <%= link_to 'Utwórz nowe konto', new_admin_account_type_path, class: "buttonNew"%>
      </div>
    </div>
  </div>

<br>
</div>