<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle center">
    <div class="frame w3-animate-top">
      <div class="section-title">
        Zmień hasło
      </div>
<% if @recover_password.errors.any? then %>
    <div class="errors">
      <ul>
        <% @recover_password.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
<%= form_for :password do |f| %>
    <%= f.password_field :password,class: "input-standard w3-animate-top", placeholder: "Hasło", required: true, pattern: "^\\S{8,}$" %>
    <%= f.password_field :password_confirmation, class: "input-standard w3-animate-top", placeholder: "Powtórz hasło", required: true, pattern: "^\\S{8,}$" %>
    <%= f.submit "Zmień hasło", class: "buttonDefault medium-dark-red w3-animate-top" %>
<% end %>

    </div>
  </div>
</div>

