<% content_for :title, "Rejestracja" %>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle center">
    <div class="frame w3-animate-top">
      <div class="section-title">
        Załóż konto
      </div>

      <% if @user.errors.any? %>
          <div class="errors">
            <ul>
          <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
            </ul>
          </div>
          <% end %>
      <%= form_for @user, url: {action: "registration"}  do |f| %>

          <%= f.text_field :login, class: "input-standard", placeholder: "Login", required: true %>
          <%= f.email_field :email, class: "input-standard", placeholder: "E-mail", required: true%>
          <%= f.password_field :password, class: "input-standard", placeholder: "Hasło", required: true, pattern: "^\\S{8,}$" %>
          <%= f.password_field :password_confirmation, class: "input-standard", placeholder: "Powtórz hasło", required: true,pattern: "^\\S{8,}$" %>
          <%= f.submit "Zarejestruj", class: "buttonDefault medium-dark-red" %>

      <% end %>
    </div>
  </div>
</div>
