<!DOCTYPE html>
<html>
<head>
  <title>E-dysk</title>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<script>
    function menuSmall() {
        var x = document.getElementById("navbar");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }


    function driveMenuSmall() {
        document.getElementById("drive-menu").classList.toggle("show");
    }


    function newFileFolder() {
        document.getElementById("new-file-folder-selection").classList.toggle("show");
    }


    // Close the dropdown if the user clicks outside of it
    document.onclick = function (event) {
        if (!event.target.matches('.drop-button')) {
            var y = document.getElementById("new-file-folder-selection");

            if (y.classList.contains("show")) {
                y.classList.remove("show");
            }
        }
    }


    //Show file dialog
    function fileDialog() {
        document.getElementById("file-dialog").click();
    }
</script>

<body ng-app="DriveApp">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="menuSmall()" title="Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="black no-decoration w3-bar-item w3-padding-large"><b>E-dysk</b></a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">WIĘCEJ <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">REGULAMIN</a>
        <a href="#" class="w3-bar-item w3-button">WIĘCEJ MOŻLIWOŚCI</a>
        <a href="#" class="w3-bar-item w3-button">POMOC</a>
      </div>
    </div>
    <div class="login-register">
      <a href="" class="no-decoration w3-right w3-button w3-bar-item w3-padding-large w3-hide-small">WYLOGUJ</a>
      <a href="" class="no-decoration w3-right w3-button w3-bar-item w3-padding-large w3-hide-small">MOJE KONTO</a>
    </div>

  </div>
</div>

<!-- Navbar on small screens -->
<div id="navbar" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium dropdown-content dropdown-full-screen">
  <a href="" class="w3-bar-item w3-button w3-padding-large">STRONA GŁÓWNA</a>
  <a href="" class="w3-bar-item w3-button w3-padding-large">POMOC</a>
  <a href="" class="w3-bar-item w3-button w3-padding-large">WIĘCEJ MOŻLIWOŚCI</a>
  <a href="" class="w3-bar-item w3-button w3-padding-large">REGULAMIN</a>
  <a href="" class="w3-bar-item w3-button w3-padding-large">MOJE KONTO</a>
  <a href="" class="w3-bar-item w3-button w3-padding-large">WYLOGUJ</a>
</div>

<script>
    (function () {
        angular.module('DriveApp', ['cfp.hotkeys', 'ui.validate'])
            .controller('DriveController', ['$scope', '$http', 'hotkeys', function ($scope, $http, hotkeys) {

                hotkeys.bindTo($scope)
                    .add({
                        combo: 'ctrl+a',
                        callback: function(event, hotkey){
                            $scope.select_all();
                        }
                    });
                $scope.directories = [];
                $scope.files = [];

                $scope.selected_files = [];
                $scope.selected_directories = [];

                $scope.path = [{
                    id: <%= @root_directory.id %>,
                    name: "Mój dysk"
                }];

                $scope.new_directory = {name: null, directory_id: -1};

                $scope.create_directory = function () {
                    $scope.new_directory.directory_id = $scope.current_directory.id;
                    $http.put("/dir/new", {directory: $scope.new_directory})
                        .then(function successCallback(response) {
                            $scope.directories.push(response.data.directory);
                            $scope.new_directory = {name: null, directory_id: -1};
                            document.getElementById('new-folder-modal').style.display = "none";
                        }, function (response) {
                        });
                };

                $scope.select_all = function()
                {
                    $scope.unselect_all();
                    $scope.selected_directories = $scope.directories.map(function(directory){
                       return directory.id;
                    });
                    $scope.selected_files = $scope.files.map(function(file){
                        return file.id;
                    });
                    console.log($scope.selected_files);
                };

                $scope.current_directory = null;
                $scope.$watch("current_directory", function current_directory_change(new_value, old_value) {
                    if (new_value == null)
                        return;
                    var index = $scope.path.indexOf(new_value);
                    if (index != -1) {
                        $scope.path.length = index + 1;
                    }
                    else {
                        $scope.path.push(new_value);
                    }
                    $http.get("/dir/show/" + new_value.id)
                        .then(function successCallback(response) {
                            $scope.directories = response.data.directories;
                            $scope.files = response.data.files;
                        }, function (response) {
                        });
                    $scope.unselect_all();
                });

                $scope.select_file = function (event, id) {
                    if(event.ctrlKey)
                    {
                        var index = $scope.selected_files.indexOf(id);
                        if(index != -1)
                        {
                            $scope.selected_files.splice(index,1);
                        }
                        else
                        {
                            $scope.selected_files.push(id);
                        }
                    }
                    else
                    {
                        $scope.unselect_all();
                        $scope.selected_files = [id];
                    }

                };

                $scope.select_directory = function (event, id) {
                    if(event.ctrlKey)
                    {
                        var index = $scope.selected_directories.indexOf(id);
                        if(index != -1)
                        {
                            $scope.selected_directories.splice(index, 1);
                        }
                        else
                        {
                            $scope.selected_directories.push(id);
                        }
                    }
                    else
                    {
                        $scope.unselect_all();
                        $scope.selected_directories = [id];
                    }
                };

                $scope.unselect_all = function () {
                    $scope.selected_files = [];
                    $scope.selected_directories = [];
                };

                $scope.open_directory = function (directory) {
                    $scope.current_directory = directory;
                };

                this.$onInit = function () {
                    $scope.current_directory = $scope.path[0];
                };

                $scope.name_exists = function (value) {
                    console.log(value);
                        return $scope.directories.map(function(directory){
                           return directory.name
                        }).indexOf(value) == -1;
                    };

            }])
    })();
</script>

<div class="w3-row drive-pages" ng-controller="DriveController">

  <!-- Sidebar/menu on large and medium screens -->
  <div class="w3-col m5 l2 w3-hide-small">
    <nav class="sidebar w3-white"><br>
      <div class="w3-bar-block">
        <button class="button-standard button-50 button-color-4 drop-button" onclick="newFileFolder()">Nowy</button>

        <div id="new-file-folder-selection" class="file-or-folder-dropdown w3-bar-block w3-hide dropdown-content">
          <button class="w3-bar-item file-or-folder-dropdown-item" onclick="fileDialog()">Plik</button>
          <button class="w3-bar-item file-or-folder-dropdown-item" onclick="showFolderModal()">Folder</button>
        </div>

        <input id="file-dialog" type="file" style="display: none"/>

        <div id="new-folder-modal" class="modal">
          <form name="new_folder_form" ng-submit="new_folder_form.$valid && create_directory()">
            <div class="modal-content">
              <span class="close">&times;</span>
              <div class="modal-title">Stwórz nowy folder</div>
              <input class="input-in-modal" type="text" ui-validate="{name_exist: 'name_exists($value)'}" ng-model="new_directory.name" placeholder="Wpisz nazwę nowego katalogu"/>
              <button type="submit" class="modal-button">OK</button>
              <div class="error" ng-show="!new_folder_form.$valid">Niepoprawna nazwa!</div>
            </div>
          </form>
        </div>

        <script>
            //Modal – creating new folder
            var modal = document.getElementById('new-folder-modal');
            var span = document.getElementsByClassName("close")[0];

            function showFolderModal() {
                modal.style.display = "block";
                document.getElementById("new-file-folder-selection").classList.remove("show");
            }


            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>


        <a href="" onclick="" class="sidebar-item no-decoration w3-bar-item w3-padding w3-text-teal w3-hide-small"><i class="glyphicon glyphicon-folder-open w3-margin-right"></i>Mój
          dysk</a>
        <a href="" onclick="" class="sidebar-item no-decoration w3-bar-item w3-padding w3-hide-small"><i class="glyphicon glyphicon-duplicate w3-margin-right"></i>Udostępnione
          dla mnie</a>
        <a href="" onclick="" class="sidebar-item no-decoration w3-bar-item w3-padding w3-hide-small"><i class="fa fa-male fa-fw w3-margin-right"></i>Współpracownicy</a>
        <a href="" onclick="" class="sidebar-item no-decoration w3-bar-item w3-padding w3-hide-small"><i class="glyphicon glyphicon-hdd w3-margin-right"></i>Wykorzystanie
          dysku</a>
      </div>
    </nav>
  </div>

  <!-- Menu replacing sidebar menu on small screens -->
  <div class="w3-col s12 w3-padding w3-hide-large w3-hide-medium">
    <button class="w3-button w3-padding-large w3-hide-medium w3-hide-large w3-left drop-button" onclick="driveMenuSmall()" title="Drive options">
      Dysk
      <div class="menu-arrow glyphicon glyphicon-triangle-bottom"></div>
    </button>

    <div id="drive-menu" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium dropdown-content">
      <a href="" onclick="" class="no-decoration w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-folder-open w3-margin-right"></i>Mój
        dysk</a>
      <a href="" onclick="" class="no-decoration w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-duplicate w3-margin-right"></i>Udostępnione
        dla mnie</a>
      <a href="" onclick="" class="no-decoration w3-bar-item w3-button w3-padding"><i class="fa fa-male fa-fw w3-margin-right"></i>Współpracownicy</a>
      <a href="" onclick="" class="no-decoration w3-bar-item w3-button w3-padding"><i class="glyphicon glyphicon-hdd w3-margin-right"></i>Wykorzystanie
        dysku</a>
    </div>


    <button class="button-standard button-color-4 w3-right button-circle-40"><i class="fa fa-file"></i></button>
    <button class="button-standard button-color-4 w3-right w3-margin-right button-circle-40">
      <i class="fa fa-folder-open"></i></button>

  </div>

  <div class="drive-content w3-col m7 l10">
    <%= yield %>
  </div>

</div>


</body>
</html>